<div class="container-fluid">
  <div class="ui-g">
    <div class="ui-g-4 ui-g-nopad">
      <div class="ui-g-12">
          <div class="card shadow border-top-0 border-right-0 border-left-0 rounded-0">
              <div class="card-header rounded-0 bg-transparent">Grafico 1 <button type="button" class="btn btn-sm btn-light pull-right" tooltip="Exportar" placement="left"><i class="fa fa-file-excel-o"></i></button></div>
              <div class="card-body">
                <p-chart type="horizontalBar" [data]="doughnutdata"></p-chart>
              </div>
            </div>
            </div>
            <div class="ui-g-12">
          <div class="card shadow border-top-0 border-right-0 border-left-0 rounded-0">
              <div class="card-header rounded-0 bg-transparent">Grafico 2<button type="button" class="btn btn-sm btn-light pull-right" tooltip="Exportar" placement="left"><i class="fa fa-file-excel-o"></i></button></div>
              <div class="card-body" >
                <p-chart type="doughnut" [data]="doughnutdata"></p-chart>
              </div>
            </div>

        </div>
      </div>
      <div class="ui-g-8">
        <div class="card shadow border-top-0 border-right-0 border-left-0 rounded-0 chart2-top"></div>
        <div class="card shadow border-top-0 border-right-0 border-left-0 rounded-0">
            <div class="card-header rounded-0 bg-transparent">Grafico 3 <button type="button" class="btn btn-sm btn-light pull-right" tooltip="Exportar" placement="left"><i class="fa fa-file-excel-o"></i></button></div>
            <div class="card-body">
              <p-chart type="pie" [data]="doughnutdata" ></p-chart>
            </div>
          </div>
        <div class="card shadow border-top-0 border-right-0 border-left-0 rounded-0 chart2-bot"></div>

      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="card shadow border-top-0 border-right-0 border-left-0 rounded-0">
          <div class="card-header rounded-0 bg-transparent">Grafico 4 <button type="button" class="btn btn-sm btn-light pull-right" tooltip="Exportar" placement="left"><i class="fa fa-file-excel-o"></i></button></div>
          <div class="card-body">
            <p-growl [value]="msgs"></p-growl>
            
            <p-chart type="line" [data]="doughnutdata" (onDataSelect)="selectData($event)" width="300" height="100"></p-chart>
            
          </div>

        </div>
      </div>
    </div>
  </div>


